<!DOCTYPE html>
<html>
<head>
    <title>Privacy Engineering Footer Grid</title>
    <style>
        .footer-grid {
            display: flex;
            flex-wrap: wrap;
        }

        .footer-grid > div {
            flex: 1;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="footer-grid">
        <div>
            <p class="footer-grid-heading">About Website</p>
            <ul class="footer-ul">
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/tags">Tags</a></li>
            </ul>
        </div>
        <div>
            <p class="footer-grid-heading">Students & Alumni</p>
            <ul class="footer-ul">
                <li><a href="https://amanpriyanshu.github.io/" target="_blank">Aman Priyanshu</a></li>
                <li><a href="https://yashmaurya.com/" target="_blank">Yash Maurya</a></li>
                <li><a href="https://www.suriya.cc/" target="_blank">Suriya Ganesh</a></li>
                <li><a href="https://www.linkedin.com/in/limin-ge-573b4b28a/" target="_blank">Limin Ge</a></li>
                <li><a href="https://www.linkedin.com/in/zuofei-hong-832ab719b/" target="_blank">Zuofei Hong</a></li>
                <li><a href="https://www.linkedin.com/in/jingxinshi/" target="_blank">Jingxin Shi</a></li>
                <li><a href="https://www.linkedin.com/in/ibrahimchhaya/" target="_blank">Ibrahim Chhaya</a></li>
            </ul>
        </div>
        <div>
            <p class="footer-grid-heading">More</p>
            <ul class="footer-ul">
                <li><a href="https://privacy.cs.cmu.edu/masters/index.html" target="_blank">About the Program</a></li>
                <li><a href="https://privacy.cs.cmu.edu/privacy-cert/index.html" target="_blank">Certificate Program</a></li>
                <li><a href="https://privacy.cs.cmu.edu/masters/careers/index.html" target="_blank">Careers</a></li>
                <li><a href="https://iapp.org/certify/" target="_blank">IAPP Certificate</a></li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>
